<div id="home-jumbo" class='jumbotron'>
  <p class='text-center'>
    <%= link_to(start_new_application_path, class: 'btn btn-lg btn-success text-center') do %>
      <span>Apply!</span>
    <% end %>
  </p>
</div>
