<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style='display:block'>
    <h1>We appreciate your interest in employment at UMD Libraries!</h1>
    <br/> 
    <p>
      Dear <%= "#{@prospect.first_name} #{@prospect.last_name }, " %>
      <br/> 
      <br/> 
      Thank you for submitting your application to the University of Maryland Libraries.
      <br/> 
      Your information has been received and your qualifications are being reviewed.
      <br/> 
      We will contact you if there is a match with our current open positions.
      <br/> 
      This application will be kept on file until the end of the current semester.
      <br/> 
      A new application should be submitted if there are significant schedule changes or if you wish to be considered for openings in other semesters.
      <br/> 
       We appreciate your interest in employment at UMD Libraries!
      <br/> 
      <br/> 
      <b>ATTENTION:</b> Not everyone who submits an application is interviewed. Interviews are done by the employing units. If you are contacted for an interview, you need to make a note of the unit and the name of the supervisor who is calling so you are able to find them when you come to the Library. The Library Human Resources Office will not know who has contacted you.
      <br/> 
      <blockquote>
            Human Resource<br/>
            University of Maryland Libraries<br/>
            College Park, Maryland 20742<br/>
            Thanks for your application.<br/> 
      </blockquote>     
    </p>
  </body>
</html>

