<h2>Availability</h2>

<div class='panel panel-default'>
  <div class="panel-heading"><span>Total Available Hours Per Week</span></div>
  <div class="panel-body" id="basic-info">
      <%= form.input :available_hours_per_week, required: true %>
  </div>
</div>

<div class='panel panel-default'>
  <div class="panel-heading"><span>Select date and times available. Selection should not be less than available hours per week.</span></div>
  <div class="panel-body" id="basic-info">
    <div class="table-responsive">
      <%= availablity_table(form) %>
    </div>
  </div>
</div>
