<h2>Availability</h2>

<div class='panel panel-default'>
  <div class="panel-heading"><span>Total Avaialble Hours Per Week</span></div>
  <div class="panel-body" id="basic-info">
      <%= form.input :available_hours_per_week, required: true %>
  </div>
</div>

<div class="table-responsive">
  <%= availablity_table(form) %>
</div>
