<h2>Confirmation</h2>

<div class="alert alert-info">
  <p>Please verify that the following information is correct and complete.</p>
</div>

<%= render partial: "summary",  locals: { form: form }  %>
