<h2>Skills</h2>
<div class='panel panel-default'>
  <div class="panel-heading"><span>Please Select:</span></div>
  <div class="panel-body" id="skills-promoted">
    <%= form.association :skills, collection: Skill.promoted, label: false, 
      label_method: :name,
      input_html: { multiple: true  } %>
  </div>
</div>

<div class='panel panel-default'>
  <div class="panel-heading">
    <span>List Additional Skills:</span>
    <span class='pull-right'>
      <%= link_to_add_association(form, :skills,
                                  { "data-association-insertion-node": "#skills",
                                    "data-association-insertion-method": 'append'}) do  %>
        <i class='glyphicon glyphicon-plus-sign'></i>Add Skill 
      <% end %> 
    </span>   
  </div>
  <div class="panel-body" id="skills">
    <%= form.fields_for :skills, form.object.special_skills do |skill| %>
        <%= render 'skill_fields', f: skill %>
    <% end %>
  </div>
</div>
