<h2>Work Experience</h2>

<div class='panel panel-default'>
  <div class="panel-heading"><span></span>
    <span class='pull-right'>
      <%= link_to_add_association(form, :work_experiences,
                                  { "data-association-insertion-node": "#work-experiences",
                                    "data-association-insertion-method": 'append'}) do  %>
        <i class='glyphicon glyphicon-plus-sign'></i>Add Work Experience 
      <% end %> 
    </span>
  </div>
  <div class="panel-body" id="work-experiences">
      <%= form.fields_for :work_experiences do |ws| %>
        <%= render 'work_experience_fields', f: ws %>
      <% end %>
  </div>
</div>
