<div id="upload-jumbo" class="jumbotron">
  <h4>Thank You!</h4>
  <p>
Thank you for submitting your application to the University of Maryland Libraries. Your information has been received and your qualifications are being reviewed. We will contact you if there is a match with our current open positions.
<br/>
<br/>
We appreciate your interest in employment at UMD Libraries! 
  </p>
</div>
