/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require 'umd_lib'
 *= require_self
 */

#home-jumbo { margin-top: 50px }

label.required abbr {
  color: #a94442;
}



.panel-heading { min-height: 53px }
.panel-heading span { font-size: 22px  }
.nested-fields {
  border-bottom: 1px solid transparent;
  border-color: #ddd;
  margin: 15px 0px;
}


.form-horizontal  .radio-inline { padding-top: 0px  }
.radio-question { padding-right: 20px; vertical-align: middle; }

#availability-table > thead > tr > th, #availability-table > tbody > tr >  td { text-align: center;  width: 13.2%; padding: 8px 0px }
#availability-table th.time-label, #availability-table td.time-label { position: relative; padding: 8px 0px; width: 6.6% }
#availability-table > tbody > tr >  td:not(.time-label) { cursor: pointer; }
#availability-table > tbody > tr >  td:not(.time-label):hover { background-color: #dff0d8; border: 2px groove #dff0d8; }
#availability-table .time-label > span { 
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 2px;
 }




